*{
    margin: 0;
    padding: 0;
}

.seccion-carrito{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.carrito-container{
    width: 50%;
}

.carrito-container h1{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
}


#imgArt{
    display: flex;
}

#imgArt img{
    width: 20%;
}

input[type="number"]{
    width: 60px;
}