:root{
    --main-hoverBtn-color: #fd79c2;
    --main-color-Fucsia: #FF43AA;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');



body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: "Heebo";
    font-size: 16px;
}

.container-miperfil{
    width: 100%;
    height: 100%; 
}   
    
.miperfil-content{
    width: auto;
    height: auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.miperfil-sidebar{
    margin-right: 1em;

}

#miCuentaHeader{
    position: relative;
    bottom: 2.1875rem;
}

#miCuentaHeader h3{
    font-size: 2.5rem;
}

.miperfil-sidebar .secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12.5rem;
    width: 14.375rem;
    background-color: #ffffff;
    padding-top: 1.5625rem;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
   
}

.secciones ul{
    list-style: none;
    padding: 0px !important;
}

.miperfil-sidebar .secciones i{
    margin-right: 0.625rem;
}


.miperfil-sidebar .secciones p{
    font-size: 18px;
    color: #5e5e5efa;
    cursor: pointer;
    width: 12.5rem;
    padding: 0.3125rem 0.3125rem 0.3125rem 1.25rem;
    height: 2.5rem;
}

/* .icono-mi-profile::before{
    content: '\f2bd';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
}

.icono-mis-compras::before{
    content: '\f07a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
}

.icono-mis-favoritos::before{
    content: '\f004';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
} */

.secciones ul li #item-seleccionado{      
    border-radius: 4px;
    color: #ffffff;
    background-color: var(--main-hoverBtn-color);
}

.secciones ul li p:hover{
    font-weight: 400;    
    border-radius: 4px;
    color: #ffffff;
    background-color: var(--main-hoverBtn-color);
}

/*-----------CONTAINENR FORM DATOS-----------*/

.container-seccion-datos{
    background-color: #ffffff;
    width: 56.25rem;
    height: auto;
    padding: 1.875rem;
    position: relative;
    top: 3.3125rem;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

/* @media (min-width: 600px){
    .container-seccion-datos{
        width: 750px;
    }
} */

.form-container{
    display: flex;
    flex-direction: row;
}

#txtCambiar{
    width: 25%;
    height: 10%;
    margin-right: 0px !important;
}

.mis-datos-container h4{
    margin-bottom: 0.625rem;
    font-size: 2.4375rem;
}

.mis-datos-container h6{
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.mis-datos-container #textoDatosPersonales{
    width: 11.875rem;
}

.misdatos-form1{
    width: 80%;
    height: 100%;
    position: relative;
    left: 14%;
}

.misdatos-form1 #paddingRight{
    padding-right: 20px;
}

.misdatos-form1 .labelInp{
    margin-bottom: 10px;
}

.labels-form{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

#breakline{
    width: 100%;
    margin-bottom: 10px;

}

#btn-cambiar{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 36%;
    background-color: var(--main-hoverBtn-color);
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

#btn-guardar{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 36%;
    background-color: var(--main-hoverBtn-color);
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

#btn-cambiar:hover{
    background-color: var(--main-color-Fucsia);
}

#btn-guardar:hover{
    background-color: var(--main-color-Fucsia);
}


.misdatos-form2{
    width: 80%;
    height: 100%;

}

#btn-cambiar-datos-cuenta{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    left: 36%;
    background-color: var(--main-hoverBtn-color);
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

#btnGuardarDatosDuenta{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    left: 36%;
    background-color: var(--main-hoverBtn-color);
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

#btn-cambiar-datos-cuenta:hover{
    background-color: var(--main-color-Fucsia);
}

#btnGuardarDatosDuenta:hover{
    background-color: var(--main-color-Fucsia);
}


/*--------------------Modal éxito--------------------*/

.modal-container-exito{
    width: 100vw;
    height: 100vh;
    background-color: rgba(146, 146, 146, 0.7);
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}



.content-cambio-exitoso{
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
    animation: modalexito  0.4s ease;
}

@keyframes modalexito{
    from{ transform: translateY(-100%);
    } 
    to { transform: translateY(0);
    }
}

.btn-cerrar{
    font-size: 2rem;
    color: #949494;
    transform: rotate(45deg);
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.btn-cerrar:hover{
    color: #494949;
}

.content-icono{
    font-size: 4rem;
    color: var(--main-color-Fucsia);
}

.content-txt{
    font-size: 1.2rem;
}

.icono-exito{
    font-size: 4rem;
    color: #FF43AA;
    text-align: center;
}

.volver-al-home-btn #homeBtn{
    background-color: #fd63b8;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    margin-top: 20px;
}

