:root{
    --main-hoverBtn-color: #fd79c2;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');



body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: "Heebo";
}

.container-miperfil{
    width: 100vw;
    height: 100vh; 
}   
    
.miperfil-content{
    width: 90%;
    height: auto;
    margin-top: 80px;
    display: flex;
    position: relative;
}

.miperfil-sidebar{
    width: 30%;
    margin-left: 100px;

}

#miCuentaHeader{
    position: relative;
    bottom: 35px;
}

#miCuentaHeader h3{
    font-size: 40px;
}

.miperfil-sidebar .secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 90%;
    background-color: #ffffff;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
   
}

.secciones ul{
    list-style: none;
    padding: 0px !important;
}

.miperfil-sidebar .secciones i{
    margin-right: 10px;
}


.miperfil-sidebar .secciones p{
    font-size: 18px;
    color: #5e5e5efa;
    cursor: pointer;
    width: 200px;
    padding: 5px 5px 5px 20px;
    height: 40px;
}

/* .icono-mi-profile::before{
    content: '\f2bd';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
}

.icono-mis-compras::before{
    content: '\f07a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
}

.icono-mis-favoritos::before{
    content: '\f004';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
} */

.secciones ul li #item-seleccionado{      
    border-radius: 4px;
    color: #ffffff;
    background-color: var(--main-hoverBtn-color);
}

.secciones ul li p:hover{
    font-weight: 400;    
    border-radius: 4px;
    color: #ffffff;
    background-color: var(--main-hoverBtn-color);
}

/*-----------CONTAINENR FORM DATOS-----------*/

.container-seccion-datos{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 30px;
    position: relative;
    top: 53px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.form-container{
    display: flex;
    flex-direction: row;
}

#txtCambiar{
    width: 25%;
    height: 10%;
    margin-right: 0px !important;
}

.mis-datos-container h4{
    margin-bottom: 10px;
    font-size: 39px;
}

.mis-datos-container h6{
    font-size: 20px;
    margin-top: 20px;
}

.mis-datos-container #textoDatosPersonales{
    width: 190px;
}

.misdatos-form1{
    width: 80%;
    height: 100%;
    position: relative;
    left: 14%;
}

.misdatos-form1 #paddingRight{
    padding-right: 20px;
}

.misdatos-form1 .labelInp{
    margin-bottom: 10px;
}

.labels-form{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

#breakline{
    width: 100%;
    margin-bottom: 10px;

}

#btn-cambiar-datos{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 36%;
    background-color: var(--main-hoverBtn-color);
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

.misdatos-form2{
    width: 80%;
    height: 100%;

}

#btn-cambiar-datos-cuenta{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    left: 36%;
    background-color: var(--main-hoverBtn-color);
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}